#navbar{
    margin-top: 5px;
    box-shadow: 0px 0px 4px orangered;
    border-radius: 8px;
    background-color: #ff44005f;
}
#form input{
    box-shadow: 0px 0px 2px;
}
#form input::placeholder{
    color: black;
}
#table{
    overflow-y: scroll;
}
#table th{
    background-color: orangered;
}
#table td{
    background-color: darkslategray;
    color:white;
}
#search{
    padding: 6px;
    border: 1px solid orangered;
}
#search-btn{
    padding: 6px 15px;
    background-color: orangered;
    border: 1px solid orangered;
    font-weight: 400;
}